#section1 {visibility: hidden; background-color: #FFFF66; position: absolute; height: 75%; width: 100%; overflow: scroll;}

#section2 {visibility: hidden; background-color: #FFFF99; position: absolute; height: 75%; width: 100%; overflow: scroll;}